@page
@using ISA3.Pages.Extensions
@model GateAccountingSoft.Areas.Shipment.Pages.Outgoing.DetailsModel

@{
    Layout = "_Details";
}
    <body>
    @Html.DisplayControlsFor(model => model.Item.BillNumber)
    @Html.DisplayControlsFor(model => model.Item.Country) @*muudetud*@
    @Html.DisplayControlsFor(model => model.Item.DeliveryNumber)
    @Html.DisplayControlsFor(model => model.Item.EstimatedArrivalDate)
    @Html.DisplayControlsFor(model => model.Item.EstimatedReadyDate)
    @Html.DisplayControlsFor(model => model.Item.ShipmentReportCreationDate)
    @Html.DisplayControlsFor(model => model.Item.LandCadastre)
    @Html.DisplayControlsFor(model => model.Item.OrderId)
    @Html.DisplayControlsFor(model => model.Item.ShippingCompanyId)
    @Html.DisplayControlsFor(model => model.Item.TransportCompanyId)
    @Html.DisplayControlsFor(model => model.Item.Notes)
    </body>


