@page
@using ISA3.Pages.Extensions
@model GateAccountingSoft.Areas.Shipment.Pages.Outgoing.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OutgoingShipmentData</h4>
    <hr />
    <dl class="row">
        @Html.DisplayControlsFor(model => model.Item.BillNumber)
        @Html.DisplayControlsFor(model => model.Item.Country) @*muudetud*@
        @Html.DisplayControlsFor(model => model.Item.DeliveryNumber)
        @Html.DisplayControlsFor(model => model.Item.EstimatedArrivalDate)
        @Html.DisplayControlsFor(model => model.Item.EstimatedReadyDate)
        @Html.DisplayControlsFor(model => model.Item.ShipmentReportCreationDate)
        @Html.DisplayControlsFor(model => model.Item.LandCadastre)
        @Html.DisplayControlsFor(model => model.Item.OrderId)
        @Html.DisplayControlsFor(model => model.Item.ShippingCompanyId)
        @Html.DisplayControlsFor(model => model.Item.TransportCompanyId)
        @Html.DisplayControlsFor(model => model.Item.Notes)
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OutgoingShipmentData.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
