@page
@using ISA3.Pages.Extensions
@model GateAccountingSoft.Areas.Shipment.Pages.Outgoing.EditModel

@{
    Layout = "_Edit";
}

    <body>
    @Html.EditControlsFor(model => model.Item.BillNumber)
    @Html.EditControlsFor(model => model.Item.CountryId)
    @Html.EditControlsFor(model => model.Item.DeliveryNumber)
    @Html.EditControlsFor(model => model.Item.EstimatedArrivalDate)
    @Html.EditControlsFor(model => model.Item.EstimatedReadyDate)
    @Html.EditControlsFor(model => model.Item.ShipmentReportCreationDate)
    @Html.EditControlsFor(model => model.Item.LandCadastre)
    @Html.EditControlsFor(model => model.Item.OrderId)
    @Html.EditControlsFor(model => model.Item.ShippingCompanyId)
    @Html.EditControlsFor(model => model.Item.TransportCompanyId)
    @Html.EditControlsFor(model => model.Item.Notes)
    </body>


